<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 <%= 'rejected' if question.rejected? %>">
  <div class="question-card">
    <div class="bubble">
      <div class="middle">
        <h1><%= question.title %></h1>
        <%= Question::STATUSES[question.status.to_sym] %>
        <% if question.rejected? %>
          <br /><i class="fa fa-info"> Motivo: <%= Question::REJECTION_REASONS[question.rejection_reason.try(:to_sym)] %></i>
        <% end %>
        <% if question.published? %>
          <br /><%= link_to 'Responder', question_path(question), class: 'btn btn-skin' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
