<%= form_for(@question) do |f| %>
  <div class="form-group">
    <%= f.text_area :title, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <div class="checkbox">
      <label><%= f.check_box :anonymous %> Tornar pergunta anônima?</label>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit 'Enviar Sugestão de Pergunta', class: 'btn btn-huge btn-default' %>
  </div>
<% end %>
