  <%= link_to 'Sugira uma Pergunta', new_question_path, class: 'btn btn-lg btn-success pull-right' %>
<div class="area">

  <div class="row">
    <% @questions.each do |question| %>
      <%= render 'card', question: question  %>
    <% end %>
  </div>
</div>