<div class="area col-md-6 col-md-offset-3 text-center">
  <h2>Contribua com o nosso acervo de perguntas. Você sugere e a gente aprova. Vamos lá! <strong>Qual grande questão política você gostaria de saber da opinião pública?</strong> </h2>
  <div class="col-lg-12">
    <%= render 'form', question: @question %>
  </div>
</div>