<%
  seo [
    { property: 'description', content: "#{@question.title} em #{@question.topic.name}" },
    { property: 'og:title', content: @question.title, type: 'property' },
    { property: 'og:image', content: @question.image_url || 'oclima-politico.png', type: 'property' },
    { property: 'og:description', content: "A gente quer saber: #{@question.title} - Dê sua opinião.", type: 'property' }
  ]
  title @question.title
%>

  <section class="big-question">
    <div class="container-fluid">
      <div class="caption">
        <div class="inner">
        <%= form_for([@question, @vote], url: vote_question_path(@question), html: { class: 'ac-checkbox ac-checkmark' }) do |f| %>
          <h1><%= @question.title %></h1>
          <div class="text-center">
            <ul class="ac-custom">
            <%= f.collection_radio_buttons :option, @question.options, :id, :name do |o| %>
              <li>
                <%= o.radio_button checked: @vote.option && (@vote.option.id == o.object.id) %>
                <%= o.label(class: 'ac') %>
              </li>
            <% end %>
            </ul>

            <label><%= f.check_box :anonymous, checked: @vote.anonymous? %> Voto Anônimo</label>
            <br />
            <%= f.submit 'Confirmar', class: 'btn btn-info btn-lg btn-confirm' %>
            <br />

            <%= link_to results_question_path(@question), class: 'btn btn-inverted', data: { toggle: "modal", target: ".results" } do %>
              <i class="fa fa-bar-chart"></i> Ver Resultados
            <% end %>

            <%= link_to random_path, title: 'Pular esta pergunta e responder a outra.', class: 'btn btn-inverted', 'data-turbolinks' => 'true' do %>
              Pular Esta Pergunta <i class="fa fa-caret-right"></i>
            <% end %>
          </div>
          <% end %>

          <span class="metadata">
            ID #<%= @question.id %>
            | <i class="fa fa-eye"></i> <%= @question.views %>
            | <a data-toggle="modal" data-target=".history"><i class="fa fa-clock-o"></i> Histórico</a>
             | <div class="fb-share-button" data-href="<%= url(request.path) %>" data-layout="button_count"></div>
          </span>
        </div>
      </div>
      
    </div>
  </section>

<div class="modal fade history" tabindex="-1" role="dialog" aria-labelledby="historyLog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title up" id="historyLog"><b>Histórico</b></h3>
      </div>
        <div class="modal-body">
        <% @question.activities.each do |activity| %>
          <p>
            <i class="fa fa-clock"></i> <%= activity.created_at.strftime('%d/%m/%Y %H:%M') %>:
          <% if activity.key == 'question.updated' %>
            <%= t(activity.key, admin_name: activity.owner.try(:name)) %>
          <% elsif activity.key == 'question.submit_public' %>
            <%= t(activity.key, user_name: link_to(activity.owner.try(:name) || activity.owner.email, account_path(activity.owner.profile.token))).html_safe %>
          <% elsif activity.key == 'question.title_updated' %>
            <%= t(activity.key) %> <i><%= activity.parameters %></i>
          <% else %>
            <%= t(activity.key) %>
          <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade results" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Os resultados ainda estão sendo computados, <br /> mas temos aqui uma parcial.</h4>
        <div id="donutchart"></div>
        <p>Em breve você poderá consultar o resultado final. ;)</p><br />
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener("turbolinks:render", function(){
    checkbxsCheckmark = Array.prototype.slice.call(document.querySelectorAll('form.ac-checkmark input[type="radio"]'));

    checkbxsCheckmark.forEach(function(el, i){ 
      if(el.checked){
        var svg = createSVGEl();
        el.parentNode.appendChild(svg);
        draw(el, 'checkmark'); 
      }
    });
  });
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Question', 'Votes per Option'],
      <% @question.options.each do |option| %>
        ['<%= option.name %>', <%= option.votes.size %>],
      <% end %>
    ]);

    var options = {
      title: '<%= @question.title %>',
      pieHole: 0.4,
    };

    var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
    chart.draw(data, options);
  }
</script>
