<% content_for :hero do %>
  <section class="hero">
    <div class="overlay"></div>
    <a href="/" class="logo"><%= image_tag('oclima.png', width: 130) %></a>

    <div class="caption">
      <div class="inner">
        <h1><%= @spotlight.title %></h1>
        <div class="pull-right">
          <% @spotlight.options.each do |option| %>
            <%= link_to option.name, question_path(@spotlight, r: option.name), class: 'btn btn-urna' %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% @questions.each do |question| %>
  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 question <%= cycle('dark', '') %>">
    <div class="bubble">
      <div class="middle">
        <h1><%= link_to question.title, question_path(question), class: 'title' %></h1>
        <% question.options.each do |option| %>
          <%= link_to option.name, question_path(question, r: option.name), class: "btn btn-lg btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
