<div class="area">
<h2>Política de Privacidade</h2>

<p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>

<p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Clima Político.</p>

<p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Clima Político serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>

<p>A informação pessoal recolhida pode incluir o seu nome, e-mail, data de nascimento e/ou outros.</p>

<p>O uso do Clima Político pressupõe a aceitação deste Acordo de privacidade. A equipa do Clima Político reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
</div>
