<div class="col-sm-4 text-center">

  <div class="photo text-center">
    <%= image_for @profile %>
  </div>
  <h4><%= @profile.try(:name) %></h4>
  <h6><b><%= @profile.state %>, <%= @profile.user.votes_count %> VOTOS</b></h6>

  <% if is_current_user?(@profile) %>
    <hr />
    <h6>Olá, não se preocupe, apenas você pode ver esta sessão. Aqui estão alguns dos seus dados:</h6>
    
    <ul>
      <li>Você votou em <b><%= @profile.user.votes_count %> questões</b>. Destas, <b><%= @profile.user.votes.anonymo.size %> foram anônimos.</b><br /></li>

      <li>Você colaborou com um total de <b><%= @questions.size %> questões</b> até agora. <%= @questions.anonymo.size %> estão anônimas.</b><br /></li>

      <li><%#= link_to('Questões anônimas', root_path) %></li>
    </ul>

    <p><%= link_to "Editar Perfil", account_edit_path(@profile.token), class: 'btn btn-info btn-block btn-rounded' %></p>

    <%= link_to 'Sugira uma Pergunta', new_question_path, class: 'btn btn-success btn-block btn-rounded' %>
  <% end %>

</div>