<div class="profile col-md-8 col-md-offset-2">
  <%= render 'sidebar' %>
  <div class="col-sm-8">
    <div>
      <h3>Atualize seus dados. Queremos saber mais sobre você.</h3>
      <div class="divider-header"></div>
    </div>

    <%= form_for @profile do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      </div>

      <div class="form-group">
        <%= f.label :state, 'Estado' %>
        <%= f.select :state, options_for_select(ProfilesHelper::STATES, @profile.state), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div class="checkbox">
          <label>
            <%= f.check_box :public %> Perfil Público
          </label>
        </div>
      </div>


      <br />
      <h4>Questionário SócioEconômico <small>(É super rápido!)</small></h4>
      <hr />

      <div class="form-group">
        <%= f.label :genre, 'Gênero' %>
        <%= f.select :genre, options_for_select(ProfilesHelper::GENRES, @profile.genre), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :age, 'Idade' %>
        <%= f.select :age, options_for_select(ProfilesHelper::AGE_RANGE, @profile.age), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :income, 'Renda' %>
        <%= f.select :income, options_for_select(ProfilesHelper::INCOME_RANGE, @profile.income), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :schooling, 'Escolaridade' %>
        <%= f.select :schooling, options_for_select(ProfilesHelper::SCHOOLINGS, @profile.schooling), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :race, 'Etnia' %>
        <%= f.select :race, options_for_select(ProfilesHelper::RACES, @profile.race), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :political_leanings, 'Inclinação Política' %>
        <%= f.select :political_leanings, options_for_select(ProfilesHelper::POLITICALS, @profile.political_leanings), { include_blank: true }, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit 'Atualizar', class: 'btn btn-success' %>
      </div>
    <% end %>

  </div>
</div>
