<%
  seo [
    { property: 'description', content: "#{@profile.name} de #{@profile.state}" },
    { property: 'og:title', content: @profile.name, type: 'property' },
    { property: 'og:image', content: @profile.image_url || 'oclima-politico.png', type: 'property' },
    { property: 'og:description', content: @profile.name, type: 'property' }
  ]
  title "Perfil #{@profile.name}"
%>

<div class="profile col-md-8 col-md-offset-2">
  <%= render 'sidebar' %>
  <div class="col-sm-8">

    <div class="row">

      <div class="col-md-6">
        <div class="box">
          <h1><%= @profile.user.votes_count %></h1>
          <h6>votos computados</h6>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="box">
          <h1><%= @profile.user.questions.active.size %></h1>
          <h6>perguntas publicadas</h6>
        </div>
      </div>

    </div>

    <div class="clearfix"></div><br />

    <div class="row">
      <h5 class="text-center"><b>PERGUNTAS PUBLICAS</b></h5>
      <hr />
      <% @questions.active.each do |question| %>
        <div class="col-md-12 col-xs-12">
          <%= render 'topics/question', question: question %>
        </div>
      <% end %>
    </div>

  </div>
</div>

