<div class="login" style="margin-top:50px;">
  <div class="caption">
    <div class="row middle">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form'}) do |f| %>

        <div class="form-group">
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Participar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-block btn-facebook btn-huge' %>
          <% end -%>

          <%= f.label :email, class: 'control-label' %>
          <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Senha', class: 'control-label' %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password, 'Confirmação de Senha', class: 'control-label' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        </div>

        <div class="form-group">
          <h5>Ao se cadastrar você está aceita os termos de uso.</h5>
          <%= f.submit "Quero Participar!", class: 'btn btn-success btn-block btn-lg' %>
        </div>
        
        <h4 class="text-center">Já tem cadastro? <b><%= link_to "Entre por aqui.", new_session_path(resource_name) %></b></h4>

      <% end %>
      </div>
    </div>
  </div>
</div>
