<div class="col-md-4 col-sm-6 col-xs-12">
  <section class="widget bg-success text-center">
    <div class="widget-details col-xs-4">
      <h2 class="no-margin"><%= @questions %></h2>
      <small class="text-uppercase">Questões</small>
    </div>
    <div class="widget-details col-xs-4">
      <h2 class="no-margin"><%= @published %></h2>
      <small class="text-uppercase">Publicadas</small>
    </div>
    <div class="widget-details col-xs-4">
      <h2 class="no-margin"><%= @waiting %></h2>
      <small class="text-uppercase">Aguardando</small>
    </div>
  </section>

  <div class="widget bg-white">
    <h3 class="text-info mt0 mb0 bold"><%= @votes %></h3>
    <div class="small text-uppercase">Votos Computados</div>
    <small class="pt5">Donec ullamcorper nulla non metus auctor.</small>
  </div>

</div>

<div class="col-md-3">
  <div class="widget bg-white">
    <div class="widget-icon bg-blue pull-left fa fa-user">
    </div>
    <div class="overflow-hidden">
      <span class="widget-title"><%= @users %></span>
      <span class="widget-subtitle">Usuários Registrados</span>
    </div>
  </div>
</div>