
  <div class="question-card">
    <div class="bubble">
      <div class="middle">
        <h1><%= question.title %></h1>
        <% question.options.each do |option| %>
          <%= link_to option.name, question_path(question, r: option.name), class: "btn btn-lg btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
