<%
  seo [
    { property: 'description', content: "Todos os Temas" },
    { property: 'og:title', content: "Todos os Temas", type: 'property' },
    { property: 'og:description', content: "Todos os Temas.", type: 'property' }
  ]
  title "Temas Políticos"
%>
<div class="row area">
  <%= render 'shared/questions' %>
</div>
