<%
  seo [
    { property: 'description', content: "Todas as questões sobre #{@topic.name}" },
    { property: 'og:title', content: @topic.title, type: 'property' },
    { property: 'og:image', content: 'oclima-politico.png', type: 'property' },
    { property: 'og:description', content: "Todas as perguntas sobre #{@topic.name} - Dê sua opinião.", type: 'property' }
  ]
  title @topic.name
%>

<section class="topics">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h3 class="name"><%= @topic.name %></h3>
          <div class="divider"></div><br />
        </div>

        <div class="area">
          <% @questions.each do |question| %>
            <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <%= render 'question', question: question  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="text-center">
      <%= link_to 'Sugira uma Pergunta', new_question_path, class: 'btn btn-lg btn-default' %>
    </div>
  </div>
</section>
