<div class="panel mb25">
  <div class="panel-heading border">Novo Tema</div>
  <div class="panel-body">
    <%= form_for([:admin, Topic.new], html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'Tema:', class: 'col-sm-1 control-label' %>
        <div class="col-sm-4"><%= f.text_field :name, class: 'form-control' %></div>
        <%= f.submit 'Adicionar', class: 'btn btn-success col-sm-1' %>
      </div>
    <% end %>
  </div>
</div>

<div class="panel mb25">
  <div class="panel-heading border">Todos os Temas</div>

  <div class="panel-body">

    <div class="table-responsive">
      <table class="table table-bordered table-striped mb0">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Nome</th>
            <th>Publicadas?</th>
            <th>Questões Publicadas</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @topics.each do |resource| %>
            <tr>
              <td><%= resource.id %></td>
              <td><%= resource.name %></td>
              <td><%= resource.published ? 'Sim' : 'Não' %></td>
              <td><%= resource.questions.active.size %></td>
              <td>
                <%= form_for([:admin, resource]) do |f| %>
                  <%= f.submit((resource.published ?  'DesPublicar' : 'Publicar'), class: 'btn btn-default') %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
