<section id="sobre" class="inner-section color-dark bg-white">
  <div class="container marginbot-50">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="section-heading text-center">
          <h2>O Clima Político</h2>
          <div class="divider-header"></div>
        </div>

        <div class="text-center">
          <p>O Clima Político tenta medir a temperatura do cenário político no âmbito nacional, convidando todos os brasileiros a opiniar sobre questões atuais diversas. <strong>Não somos ligados a nenhum partido político nem estamos aqui para promover qualquer político, personalidade pública, servidor público ou empresa.</strong></p>

          <p>Os resultados aqui apresentados são computados em tempo real, com votos alimentados pelos usuários e não representa nossa opinião. No entanto, esperamos estas questões aqui introduzidas possam gerar uma reflexão maior sobre os assuntos em cada brasileiro e que a opinião pública possa ser levada em consideração pelos nossos governantes.</p>

          <p>Você também pode contribuir submentendo perguntas para descobrir a opinião pública sobre determinado assunto. Clique <%= link_to 'aqui', new_user_session_path %> para começar a enviar e responder.</p>
        </div>
      </div>
    </div>    
  </div>

</section>
