<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= link_to image_tag('oclima.png', width: 100), root_path %>
      </div>
      <div class="col-md-7">
        <ul class="footer-menu">
          <li><a>Termos de Uso (Em Breve)</a></li>
          <li>
            <div class="fb-like" data-share="true" data-width="450" data-show-faces="true"></div>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-right">
        <p>&copy;Copyright 2016  <a target="_blank" href="http://wipcodes.com/"> <%= image_tag('wipcodes.png', width: '100') %></a></p>
      </div>
    </div>  
  </div>
</footer>