<div id="navigation">
  <nav class="navbar navbar-custom" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="site-logo">
            <a href="/" class="brand"></a>
          </div>
        </div>
        <div class="col-md-10">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
              <i class="fa fa-bars"></i>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Início', root_path %></li>
              <li><%= link_to 'Temas', topics_path %></li>
              <li><%= link_to 'Pergunta Aleatória', random_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'Fábrica de Perguntas', questions_path %></li>
                <li><%= link_to 'Perfil', account_path(current_user.profile.token) %></li>
                <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to 'Participe!', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </nav>
</div> 
