<% @topics.each do |topic| %>
  <div class="col-xs-6 col-sm-4 col-md-4 topic">
    <div class="card">
      <div class="middle">
        <h5><%= link_to topic.name, topic_path(topic) %></h5>
        <div class="divider"></div>
        <!-- TODO: retrieve this questions by ajax -->
        <p><%= topic.questions.active.last.try(:title) %></p>
        <%= link_to 'explore outras questões', topic_path(topic), class: 'btn btn-inverted' %>
      </div>
    </div>
  </div>
<% end %>
