<%= form_for([:admin,question], html: { class: 'form-horizontal', role: 'form' }) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :topic_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.select :topic_id, Topic.all.collect{|t|[t.name, t.id]}, { include_blank: true }, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :title, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :user_id, class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :status, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.select :status, [], class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :rejection_reason, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.select :rejection_reason, [], class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :kinda, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.select :kinda, ['yes_no'], class: 'form-control' %></div>
  </div>

  <div class="form-group">
    <%= f.label :slug, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_field :slug, class: 'form-control', disabled: true %></div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Publicado?</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label><%= f.check_box :published %> Sim</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Anonimo?</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label><%= f.check_box :anonymous %> Sim</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Destaque?</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label><%= f.check_box :featured %> Sim</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Aceito?</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label><%= f.check_box :accepted %> Sim</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.submit 'Enviar', class: 'btn btn-success' %>
  </div>
<% end %>
