<div class="panel mb25">
  <div class="panel-heading border">Perguntas <%= link_to 'Nova Pergunta', new_admin_question_path, class: 'btn btn-default pull-right' %></div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb0">
        <thead>
          <tr>
            <th>Título</th>
            <th>Topico</th>
            <th>Publicado?</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @questions.each do |question| %>
            <tr>
              <td><%= question.title %></td>
              <td><%= question.topic.try(:name) %></td>
              <td><%= question.published? ? 'Sim' : 'Não' %></td>
              <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, admin_question_path(question) %></td>
              <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_admin_question_path(question) %></td>
              <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, admin_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

