<div class="panel mb25">
  <div class="panel-heading border">
    Nova Pergunta
  </div>
  <div class="panel-body">
    <div class="row no-margin">
      <div class="col-lg-12">
        <%= render 'form', question: @question %>
        <%= link_to 'Back', admin_questions_path %>
      </div>
    </div>
  </div>
</div>