<div class="col-sm-8">
  <div class="panel panel-primary">
    <div class="panel-heading"><%= @question.title %></div>
    <div class="panel-body">
      <p><b>Tema:</b> <%= @question.topic.try(:name) %></p>

      <p>
        <strong>Title:</strong>
        <%= @question.title %>
      </p>

      <p>
        <strong>Situação:</strong>
        <%= Question::STATUSES[@question.status.to_sym] %>
      </p>

      <p>
        <strong>Published:</strong>
        <%= @question.published %>
      </p>

      <p>
        <strong>Closed:</strong>
        <%= @question.closed %>
      </p>

      <p>
        <strong>Aceita:</strong>
        <%= @question.accepted %>
      </p>

      <p>
        <strong>Motivo de Rejeição:</strong>
        <%= Question::REJECTION_REASONS[@question.rejection_reason.try(:to_sym)] %>
      </p>



      <p>
        <strong>Destaque:</strong>
        <%= @question.featured %>
      </p>

      <p>
        <strong>Anonimo:</strong>
        <%= @question.anonymous %>
      </p>

      <p>
        <strong>Meta:</strong>
        <%= @question.meta %>
      </p>

      <p>
        <strong>User:</strong>
        #<%= @question.user.try(:id) %>
        <%= @question.user.try(:email) %>
      </p>

      <div class="pull-right">
        <%= link_to 'Editar', edit_admin_question_path(@question), class: 'btn btn-primary' %>
        <%= link_to 'voltar', admin_questions_path, class: 'btn btn-default' %>
      </div>

    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="panel">
    <div class="panel-heading border">
      Moderar Pergunta
    </div>
    <div class="panel-body">

      <%= form_for([:admin, @question], url: approve_admin_question_path(@question), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.label :topic_id, 'Tema: ', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10"><%= f.select :topic_id, Topic.all.collect{|t|[t.name, t.id]}, { include_blank: true }, { class: 'form-control', required: true } %></div>
        </div>

        <br />
        <br />

        <div class="form-group pull-right">
          <%= f.submit 'Aprovar e Publicar', class: 'btn btn-success' %>
        </div>
      <% end %>

      <br />
      <br />
      <hr />
      <br />
      <br />

      <%= form_for([:admin, @question], url: reject_admin_question_path(@question), html: { role: 'form' }) do |f| %>
        <div class="form-group">
          <%= f.label :rejection_reason, 'Motivo: ', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10"><%= f.select :rejection_reason, Question::REJECTION_REASONS.collect{|t|[t[1], t[0]]}, { include_blank: true }, { class: 'form-control', required: true } %></div>
        </div>

        <br />
        <br />

        <div class="form-group pull-right">
          <%= f.submit 'Rejeitar Pergunta', class: 'btn btn-danger' %>
        </div>
      <% end %>


    </div>
  </div>

  <br />

  <div class="panel">
    <div class="panel-heading border">
      Opções
    </div>
    <div class="panel-body">
      <ul>
        <% @question.options.each do |option| %>
          <li>
            <%= option.name %> (<%= option.votes_count %>)
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<div class="col-sm-8">
  <div class="panel">
    <div class="panel-heading border">Histórico</div>
    <div class="panel-body">
      <% @question.activities.each do |activity| %>
        <p>
          <i class="fa fa-clock-o"></i> <%= t(activity.created_at) %>:
        <% if activity.key == 'question.updated' %>
          <%= t(activity.key, admin_name: activity.owner.try(:name)) %>
        <% elsif activity.key == 'question.title_updated' %>
          <%= t(activity.key) %> <i><%= activity.parameters %></i>
        <% elsif activity.key == 'question.submit_public' %>
          <%= t(activity.key, user_name: activity.owner.try(:name) || "##{activity.owner.id}") %>
        <% else %>
          <%= t(activity.key) %>
        <% end %>
        </p>
      <% end %>
    </div>
  </div>
</div>