<div class="login" style="margin-top:50px;">
  <div class="caption">
    <div class="row middle">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form'}) do |f| %>

          <div class="form-group">
          <%- if devise_mapping.omniauthable? %>
            <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Entrar com #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-block btn-facebook' %>
            <% end -%>
          <% end -%>

            <%= f.label :email, class: 'control-label' %>
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'Senha', class: 'control-label' %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <h5>Ao se cadastrar você está aceita os termos de uso.</h5>
            <%= f.submit "Entrar", class: 'btn btn-success btn-block btn-lg' %>
          </div>
          <%= link_to "Quer Participar? <b>Faça seu cadastro.</b>".html_safe, new_registration_path(resource_name) %><br />
        <% end %>
        
        </div>
      </div>
    </div>
  </div>
