
@font-face {
  font-family: 'FontAwesome';
  src: url(font-path('fontawesome/fontawesome-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('fontawesome/fontawesome-webfont.woff')) format('woff'),
       url(font-path('fontawesome/fontawesome-webfont.ttf'))  format('truetype'),
       url(font-path('fontawesome/fontawesome-webfont.svg') + "#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}