@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #666;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeSpeed;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

h1, h2, h3 { font-family: 'Playfair Display', serif; }
h4, h5, h6 { font-family: 'Raleway', sans-serif; }
.bigger { font-size: 200%; }

a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
  }
}

strong { font-weight: 700; }
.up { text-transform: uppercase; }

.container.login {
  width: 780px;
  h4 { 
    font-weight: 700;
    font-size: 28px;
  }
}

.alert {
  position: absolute;
  right: 10%;
  top: 14%;
  z-index: 99;
}

footer {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 40px 0 30px;
  font-size: 12px;

  a:hover { color: #fff; }
}

ul.footer-menu {
  list-style: none;
  margin-top: 20px;
}

ul.footer-menu li {
  float: left;
  margin: 0 0 0 10px;

}

ul.footer-menu li a {
  color: #fff;
  padding-left: 9px;
  line-height: 1.1em;
}

ul.footer-menu li:first-child a {
  border-left: none;
  padding-left: 0;
}