
ul.ac-custom,
.ac-custom ol {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
}

.ac-custom li {
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  min-width: 160px;
  display: inline-block;
  letter-spacing: 1px;
}

.ac-custom label.ac {
  background-color: #3dc9b3;
  display: inline-block;
  position: relative;
  font-size: 26px;
  padding: 16px 28px 14px 60px;
  vertical-align: top;
  color: rgba(0,0,0,0.2);
  cursor: pointer;
  transition: color 0.3s;
  border-radius: 2px;
  width: 150px;

  &:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-color: #3C763D;
    background-color: #3C763D;
    color: #fff;
  }
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label.ac::before {
  width: 50px;
  height: 50px;
  top: 50%;
  left: 30px;
  margin-top: -24px;
  position: absolute;
  cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom label.ac::before {
  content: '';
  transition: opacity 0.3s;
}

.ac-custom input[type="checkbox"]:checked + label.ac,
.ac-custom input[type="radio"]:checked + label.ac {
  color: #fff;
} 

.ac-custom input[type="checkbox"]:checked + label.ac::before,
.ac-custom input[type="radio"]:checked + label.ac::before {
  opacity: 0.8;
}


/* General SVG and path styles */

.ac-custom svg {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -24px;
  left: 24px;
  pointer-events: none;
}

.ac-custom svg path {
  stroke: #DDF322;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
