.btn {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700; 
  text-shadow: none;

  &.btn-inverted {
    background-color: transparent;
    border: 2px solid #999;
    color: #666;
    &:hover { color: #000; border-color: #000; }
  }
  
  &.btn-rounded { border-radius: 20px; }
  &.btn-square { border-radius: 0; }

  &:hover { color: #fff; }
  &:focus { outline: 0; }

  &.btn-huge {
    padding: 4px 20px;
    font-size: 26px;
    font-weight: 700;
    border-width: 4;
  }

  &.btn-default { 
    background: #3dc9b3; 
    border-color: #3dc9b3;
  }

  &.btn-urna {
    background-color: #A4A720;
    padding: 12px 0 0 30px;
    font-size: 36px;
    font-weight: 700;
    border-width: 0;
    outline: 0;
    min-width: 120px;
    margin-top: 20px;

    &:hover {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      margin-bottom: 26px !important;
      border-color: #3C763D;
      background-color: #3C763D;
    }
  }

  &.btn-confirm {
    border: 0;
    margin-bottom: 20px;
  }

  &.btn-facebook {
    background-color: #3b5998;
    margin: 20px 0;
    font-size: 2vmin;
  }
}