.form-group {
  margin-bottom: 20px;

  .form-control {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.6em;
    border-radius: 0;
    border: none;
    box-shadow: none;
    outline: 1px solid #ccc;
  }
}

label {
  font-size: 11px;
  text-transform: uppercase;
}
