.hero {
  background: image-url('dilma.jpg') no-repeat center center #333;
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
  padding: 5% 0 5% 0; 
  height: 100%;
  position: relative;
  z-index: 1;

  .overlay {
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    margin: 0 auto;
    opacity: 0.5;
    top: 0;
  }

  .caption {
    overflow: hidden;
    display: table; 
    width: 100%;
    height: 100%;
    padding: 0 15px;
    position: relative;
    z-index: 3;

    .inner {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 0 15%;
      position: relative;
      z-index: 4;

      h1 { 
        line-height: 1.05;
        letter-spacing: -0.01em;
        font-weight: 400;
        margin: 0;
        color: #fff;
        font-size: 10vmin;
        margin-top: 8%;
      }
    }
  }

  .logo {
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: 9;

    img { 
      transform: rotate(10deg);
      float: right;
      opacity: 0.8; 
    }
  }
}

.btn-fixed {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 12;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 8px 18px;
  &:hover { color: #fff; }

  &.btn-panel { 
    background-color: #0AA2EA;
    width: 50px;
    overflow: hidden;

    .fa { margin-right: 12px; }

    &:hover {
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      width: 180px;
    }
  }
  &.btn-login { background-color: #1AAE47; }
}

.inner-section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.question {
  height: 300px;
  position: relative;
  background-color: #f1f1f1;
  color: #222;

  a.title, a.title:hover { color: #222; }

  &.dark {
    background-color: #333;
    color: #fff;
    a.title, a.title:hover { color: #fff; }
  }

  .bubble { 
    overflow: hidden;
    display: table; 
    width: 100%;
    height: 100%;
    padding: 0 15px;

    .middle {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      
      h1 { 
        font-size: 30px;
        font-size: 4vmin; 
      }

      a.btn { 
        margin: 10px 5px 0;
        min-width: 100px;
      }
    }
  }
}

.topic {
  height: 300px;
  margin-bottom: 15px;
  // -webkit-transition: all .2s ease-in-out;
  // -moz-transition: all .2s ease-in-out;
  // transition: all .2s ease-in-out;

  .card {
    background: #fff;
    overflow: hidden;
    display: table; 
    padding: 0 15px;
    width: 100%;
    height: 100%;

    .middle {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      h5 {
        text-transform: uppercase;
        font-weight: 700;
        color: #666;
        font-size: 2vmin;
        margin-bottom: 10px;
      }
    
      .divider { 
        background-color: #666;
        display: block;
        width: 40px;
        height: 2px;
        margin: 0 auto;
        margin-bottom: 30px; 
      }
    }
  }
}