.profile {
  min-height: 100%;

  ul {
    text-align: left;
    list-style: none;
    margin-top: 10px;
    li { 
      display: inline-block;
      padding-bottom: 15px;
      font-size: 13px;
      line-height: normal;
    }
  }
  
  .photo {
    img {
      width: 80px;
      height: 80px;
      border-radius: 50px;
    }
  }

  .box {
    background-color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    padding: 4px 8px;

    h1 { font-size: 72px; }

    h1, h6 {
      margin-top: 0;
      font-family: Raleway, Arial;
      font-weight: 700;
    }
  }
}