/* Media queries */

@media(min-width:767px) {

    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #000;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255,255,255,.3);
    }
  
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
  

    .intro-text {
        font-size: 25px;
    }


}
@media (max-width:768px) {
  #navigation {
    padding: 20px 0;
  }
  .site-logo{
    margin: 0 0 0 30px;
    float:none;
  }
  .navbar-custom ul.nav li a {
    color: #eee;
  }
  .navbar-custom ul.nav ul.dropdown-menu li {
    border-bottom: 1px solid #aaa;

  }
  .navbar-header {
    margin-top:-40px;
    padding:0;
  }
  .navbar-header button {
    background: #111;
  }
  
  .navbar-header button.navbar-toggle {
    padding: 4px 15px;
    font-size: 14px;
    color: #fff;
  }
  
  .navbar-custom .nav {
    background: #444;
  }
  
  .service-box {
    margin-bottom: 50px;
  }
  
  .team-wrap {
    margin-bottom: 30px;
  }
  
  form#contact-form {
    margin-bottom: 50px;
  }
  
  .xs-marginbot-20 {
    margin-bottom: 20px;
  }

}

@media (max-width:480px) {

  .navbar-custom .nav.navbar-nav {
    background-color: rgba(255,255,255,.4);
  }
  
  .navbar.navbar-custom.navbar-fixed-top {
    margin-bottom: 30px;
  }
}