.big-question, .login {
  padding: 0;
  height: 100%;
  position: relative;

  .caption {
    overflow: hidden;
    display: table; 
    width: 100%;
    height: 75%;
    padding: 0 15px;
    position: relative;
    z-index: 3;

    .inner {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      padding: 2% 5%;
      position: relative;
      z-index: 4;

      h1 { 
        line-height: 1.05;
        letter-spacing: -0.01em;
        font-weight: 400;
        margin: 0 0 10px;
        font-size: 10vmin;
      }

      .btn-huge { 
        min-width: 150px;
        margin: 30px 10px;
      }

      .btn-inverted { font-size: 11px; }

      .metadata {
        color: #999;
        position: absolute;
        left: 0;
        bottom: -1%;
        text-transform: uppercase;
        font-size: 11px;
      }
    }
  }
}

.area {
  min-height: 100%;
  height: 100%;
  margin-top: 50px;
}

.rejected .question-card { background-color: #f9f9f9; color: #a94442; }

.question-card {
  height: 300px;
  max-height: 300px;
  position: relative;
  background-color: #f1f1f1;
  color: #222;
  margin-bottom: 20px; 

  .bubble {
    overflow: hidden;
    display: table;
    width: 100%;
    height: 100%;
    padding: 0 15px;

    .middle {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      margin: 0 auto;
      text-align: center;

      h1 { 
        font-size: 26px;
        font-size: 4vmin; 
      }
    }
  }
}