// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
  *= require frontend/animations
  *= require frontend/style
  *= require frontend/color

  *= require frontend/base
  *= require frontend/components
  *= require frontend/form
  *= require frontend/check
  *= require frontend/home
  *= require frontend/questions
  *= require frontend/topics
  *= require frontend/profile
  *= require frontend/queries
  *= require_self
*/

@font-face {
  font-family: 'FontAwesome';
  src: url(font-path('fontawesome/fontawesome-webfont.eot') + "?#iefix") format('embedded-opentype'),
       url(font-path('fontawesome/fontawesome-webfont.woff')) format('woff'),
       url(font-path('fontawesome/fontawesome-webfont.ttf'))  format('truetype'),
       url(font-path('fontawesome/fontawesome-webfont.svg') + "#FontAwesome") format('svg');
  font-weight: normal;
  font-style: normal;
}