<!-- sidebar panel -->
  <div class="sidebar-panel offscreen-left">

    <div class="brand">

      <!-- logo -->
      <div class="brand-logo">
        <!-- <img src="images/logo.png" height="15" alt=""> -->
      </div>
      <!-- /logo -->

      <!-- toggle small sidebar menu -->
      <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </a>
      <!-- /toggle small sidebar menu -->

    </div>

    <!-- main navigation -->
    <nav role="navigation">

      <ul class="nav">

        <li>
          <a href='/admin'>
            <i class="fa fa-flask"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <%= link_to admin_questions_path do %>
            <i class="fa fa-question-circle"></i>
            <span>Questões</span>
          <% end %>
        </li>
         <li>
          <%= link_to admin_topics_path do %>
            <i class="fa fa-plane"></i>
            <span>Temas</span>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_admin_session_path, method: :delete do %>
            <i class="fa fa-power-off"></i>
            <span>Sair</span>
          <% end %>
        </li>

      </ul>
    </nav>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar panel -->