<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>O Clima Político</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'admin/admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <%= render 'admin/shared/launch' %>
    <div class="app layout-fixed-header">
      <%= render 'admin/shared/sidebar' %>

      <div class="main-panel">
        <%= render 'admin/shared/top' %>
        
        <div class="main-content">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: 'alert alert-success' %>
          <% end -%>
          <%= yield %>
        </div>
      </div>

      <footer class="content-footer">
        <nav class="footer-left">
          <ul class="nav">
            <li>
              <a href="javascript:;">Copyright <i class="fa fa-copyright"></i> <span>Clima Político</span> 2016. All rights reserved</a>
            </li>
          </ul>
        </nav>
      </footer>
    </div>
    
    <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => 'reload' %>
  </body>
</html>
