<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title><%= yield(:title) -%> O Clima Político</title>
    <%= yield :metatags -%>
    <link rel="canonical" href="<%= url(request.path) %>">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= yield :head -%>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '108462646219083',
          xfbml      : true,
          version    : 'v2.5'
        });
        FB.getLoginStatus(function(response) { statusChangeCallback(response); });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/pt_BR/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <%= render 'shared/nav' %>

    <section>
      <div class="container">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: "alert alert-success alert-#{name}" %>
        <% end -%>
        <%= yield %>
      </div>
    </section>

    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2347706-29', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
