<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>O Clima Político</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'admin/admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>

  <div class="app layout-fixed-header bg-white usersession">
    <div class="full-height">
      <div class="center-wrapper">
        <div class="center-content">
          <div class="row no-margin">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
              <div class="text-center mb15">
                <h2>THE CLIPOLITIC</h2><br />
              </div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-inputs">
                  <%= f.email_field :email, autofocus: true, class: "form-control input-lg", placeholder: "Email Address" %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg", placeholder: "Password" %><br />
                </div>
                <button class="btn btn-success btn-block btn-lg mb15" type="submit">
                  <span>Sign in</span>
                </button>
                <p>
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
                </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'admin/admin', 'data-turbolinks-track' => 'reload' %>
</body>

</html>
