<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">

    <title>O Clima Político</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '108462646219083',
          xfbml      : true,
          version    : 'v2.5'
        });
        FB.getLoginStatus(function(response) { statusChangeCallback(response); });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <% if user_signed_in? %>
      <%= link_to questions_path, class: 'btn btn-fixed btn-panel' do %>
        <i class="fa fa-bars"></i> Seu Painel
      <% end %>
    <% else %>
      <%= link_to 'Participe! ;)', questions_path, class: 'btn btn-fixed btn-login'  %>
    <% end %>

    <%= yield :hero %>

    <section>
      <div class="container-fluid">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </section>

    <section id="explore" class="inner-section color-dark bg-gray">
      <div class="container marginbot-50">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading text-center">
              <h2 class="h-bold">Explore Temas Políticos</h2>
              <div class="divider-header"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <div class="container">

        <div class="row">
          <%= render 'shared/questions' %>
        </div>

      </div>
    </div>
  </section>


    <%= render 'shared/about' %>
    <%= render 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-2347706-29', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
